<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.julyseproj.IDao.DocumentMapper">
  <resultMap id="BaseResultMap" type="com.julyseproj.entity.Document">
    <id column="doc_name" jdbcType="VARCHAR" property="docName" />
    <id column="doc_url" jdbcType="VARCHAR" property="docUrl" />
    <result column="doc_description" jdbcType="VARCHAR" property="docDescription" />
    <result column="doc_uploader" jdbcType="INTEGER" property="docUploader" />
    <result column="doc_group" jdbcType="INTEGER" property="docGroup" />
  </resultMap>
  <sql id="Base_Column_List">
    doc_name, doc_url, doc_description, doc_uploader, doc_group
  </sql>
  <select id="selectAll" resultMap="BaseResultMap" resultType="com.julyseproj.entity.Document">
    select * from document;
  </select>
  <select id="selectByUploader" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select * from document where document_uploader = #{studentId,jdbcType=INTEGER};
  </select>
  <select id="selectByGroup" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select * from document where document_group = #{groupId,jdbcType=INTEGER};
  </select>
  <select id="selectByPrimaryKey" parameterType="com.julyseproj.entity.DocumentKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from document
    where doc_name = #{docName,jdbcType=VARCHAR}
      and doc_url = #{docUrl,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.julyseproj.entity.DocumentKey">
    delete from document
    where doc_name = #{docName,jdbcType=VARCHAR}
      and doc_url = #{docUrl,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.julyseproj.entity.Document">
    insert into document (doc_name, doc_url, doc_description, 
      doc_uploader, doc_group)
    values (#{docName,jdbcType=VARCHAR}, #{docUrl,jdbcType=VARCHAR}, #{docDescription,jdbcType=VARCHAR}, 
      #{docUploader,jdbcType=INTEGER}, #{docGroup,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.julyseproj.entity.Document">
    insert into document
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="docName != null">
        doc_name,
      </if>
      <if test="docUrl != null">
        doc_url,
      </if>
      <if test="docDescription != null">
        doc_description,
      </if>
      <if test="docUploader != null">
        doc_uploader,
      </if>
      <if test="docGroup != null">
        doc_group,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="docName != null">
        #{docName,jdbcType=VARCHAR},
      </if>
      <if test="docUrl != null">
        #{docUrl,jdbcType=VARCHAR},
      </if>
      <if test="docDescription != null">
        #{docDescription,jdbcType=VARCHAR},
      </if>
      <if test="docUploader != null">
        #{docUploader,jdbcType=INTEGER},
      </if>
      <if test="docGroup != null">
        #{docGroup,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.julyseproj.entity.Document">
    update document
    <set>
      <if test="docDescription != null">
        doc_description = #{docDescription,jdbcType=VARCHAR},
      </if>
      <if test="docUploader != null">
        doc_uploader = #{docUploader,jdbcType=INTEGER},
      </if>
      <if test="docGroup != null">
        doc_group = #{docGroup,jdbcType=INTEGER},
      </if>
    </set>
    where doc_name = #{docName,jdbcType=VARCHAR}
      and doc_url = #{docUrl,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.julyseproj.entity.Document">
    update document
    set doc_description = #{docDescription,jdbcType=VARCHAR},
      doc_uploader = #{docUploader,jdbcType=INTEGER},
      doc_group = #{docGroup,jdbcType=INTEGER}
    where doc_name = #{docName,jdbcType=VARCHAR}
      and doc_url = #{docUrl,jdbcType=VARCHAR}
  </update>
</mapper>